
body {
    margin: 0 auto;
    background-color: white;
}

h1 {
    font-family: Arial Black, Helvetica, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    color: #06f;
}

span {
    border-top: 1px solid black;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.input-container {
    display: none;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.label-container {
    font-family: Arial Black, Helvetica, sans-serif;
    margin-top: 15px;
    font-size: 1em;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  
  .plus-container {
    visibility: hidden;
    width: 20px;
    margin-top: 15px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: end;
  }

  .meme-container {
    display: none;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .main:hover {
    color: black;
    cursor: pointer;
  }

  .main:hover .plus-container{
    visibility: visible;
    transition: 1s;
  }

  input:checked ~ .meme-container {
    display: block;
  }

  .container:hover > .meme-container {
    display: block;
    transition: 1s;
  }

  input:checked ~ .plus-container {
    transform: rotate(45deg);
  }

  .label-container:hover {
    cursor: pointer;
  }